html {
	height: 100%;
}

body {
	margin: 0px;	
}

.frame {
	height: 100%;
	min-width: 1250px;
}

.banner {
	position: relative;
	background-color: #0065a2;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	height: 59px;
}

.banner2 {
	background-color: #074A8B;
}

.tabs, .search {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #ebebeb;
	height: 69px;
	width: 100%;
}

.search .search-box {
	width: 850px;
    margin-left: 200px;
    padding: 10px;
}

.search .search-box .html-text {
	height: 32px;
	font-size: 18px;
	line-height: 20px;
	z-index: 0;
	padding-right: 30px;
}

.search .search-box .html-btn .btn {
	height: 32px;
	width: 50px;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.search .search-box .html-btn .btn:hover {	
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.search .search-box .btn-clear {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 40px;
	height: 25px;
	width: 30px;
	color: #2e6da4;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	font-family: monospace;
	display: none;
}

.fixed.pinned {
	position: fixed;
	z-index: 100;
	/* Avoid lags in chrome while scrolling. */
	-webkit-transform: translateZ(0);
}

.search .btn-push, .map-tile .btn-push {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	height: 32px;
	left: 1200px;
}

.btn-push:focus {
	outline: none;
	background-color: #fff;
	border-color: #ccc;
}

.btn-push.active {
	color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.search > a {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1050px;
	margin: auto;
	height: 20px;
}

.search .invite-text {
	display: none;
    text-align: center;
}

.search .invite-text span {
	background-color: white;
	font-size: 10pt;
    margin: 0px;
    padding: 0px 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #777;
}

.search .invite-text a {
	cursor: pointer;
	text-decoration: underline;
}

.map-stub, .map-tile {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #ebebeb;
	height: 359px;
	width: 100%;
}

.map-tile {
	padding-top: 10px;
	padding-bottom: 10px;
}

#map {
	height: 100%;
	margin-left: 150px;
	width: 1000px;
	box-shadow: 5px 5px 5px #ccc;
}

.map-btn {
	position: absolute;
	height: 48px;
	width: 48px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	left: 1200px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 50px white;
	border-radius: 5px;
}

.map-btn:hover {	
    border: 0px solid #8c8c8c;
    box-shadow: 0px 0px 30px white;
}

.map-btn:before {
	position: absolute;
	top: -35px;
	height: 25px;
	left: 50%;
    transform: translate(-50%, 0);
	font-size: 12px;
	line-height: 1.4;
	padding: 3px 8px;
	text-align: center;
	white-space: nowrap;
	color: #fff;
	background-color: #0065a2;
	border: 1px solid #666;
	border-radius: 4px;
	box-shadow: -3px 3px 5px #aaa;
	display: none;
	z-index: 100;
}

.map-btn:hover:before {
	display: block;
}

.map-btn.map-show {
	background: white no-repeat center/100% url(map_expand.png);
}

.map-btn.map-show:before {
	content: "Expand Map";
}

.map-btn.map-hide {
	background: white no-repeat center/100% url(map_show.png);
}

.map-btn.map-hide:before {
	content: "Show Map";
}

.map-btn.map-expand {
	background: white no-repeat center/100% url(map_hide.png);
}

.map-btn.map-expand:before {
	content: "Hide Map";
}

.map-stub.map-show, .map-tile.map-show {
	height: 159px;
}

.map-stub.map-expand, .map-tile.map-expand {
	height: 359px;
}

.map-stub.map-hide, .map-tile.map-hide {
	height: 0px;
	display: none;
	padding: 0px;	
}

.navigation-stub, .navigation-tile {
	position: relative;
	height: 0px;
	width: 100%;
}

.navigation {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 100px;
	border: 5px;
}

.navigation > div {
	width: 100%;	
	padding: 5px 10px;
	color: #0065a2;
	cursor: pointer;
	border-bottom: 1px solid #4ca8cd;
	font-size: 16px;
}

.navigation > div:first-child {
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navigation > div:last-child {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}

.navigation > div:hover {
	color: #F60;
}

.refresh {
	position: absolute;
    font-size: 24px;
    height: 28px;
    color: white;
    left: 50px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    display: none;
}

.notification {
	position: absolute;
    font-size: 24px;
    height: 28px;
    color: red;
    left: 90px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    display: none;
    text-shadow: 0px 0px 2px black;
}

.notification:hover {
	text-shadow: 0px 0px 2px white;
}

/* Spinning effect. */
.spin {
	-webkit-animation-name: fspin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
       -moz-animation-name: fspin;
       -moz-animation-duration: 3000ms;
       -moz-animation-iteration-count: infinite;
       -moz-animation-timing-function: linear;
    	-ms-animation-name: fspin;
    	-ms-animation-duration: 3000ms;
    	-ms-animation-iteration-count: infinite;
    	-ms-animation-timing-function: linear;
    		animation-name: fspin;
    		animation-duration: 3000ms;
    		animation-iteration-count: infinite;
    		animation-timing-function: linear;
}
@-webkit-keyframes fspin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes fspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes fspin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@keyframes fspin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.list {
	float: left;
	margin-left: 150px;
	width: 550px;
	height: 100%;
	display: none;
}

.denied {
	font-size: 24px;
    margin-top: 100px;
    width: 1100px;
    margin-left: 150px;
    text-align: center;
    color: #545454;
    font-weight: 300;
    display: none;
}

.sec {
	position: relative;
	margin-top: 20px;
	border-bottom: 1px solid #ebebeb;
}

.sec .head {
	font-size: 28px;
}

.sec .items {
	margin-left: 25px;
	min-height: 80px;
}

.sec .footer {
	margin-bottom: 10px;
}

.sec .footer button {
	width: 150px;
	margin-left: calc(100% - 150px - 20px);
}

.sec-invites .item .title {
	color: #c9302c;
}

.item {
	margin-bottom: 25px;
}

.subitems h3 {
	margin-left: -12px;
	font-size: 24px;
}

.item-print {
	border-bottom: 1px solid #ddd;
}

.item .title {
	color: #0065a2;
	font-size: 18px;
	cursor: pointer;
}

.item .subtitle {
	color: #006621;
	font-size: 14px;
}

.item > .text {
	color: #545454;
	font-size: small;
}

.item .subitems {
	margin-top: 20px;
	margin-left: 25px;
}

.item .id-search {
	margin-left: 15px;
	font-size: 15px;
	cursor: pointer;
	color: #0065a2;
}

.item .id-search:hover {
	color: #286090;
}

.item .content {
	margin-top: 5px;	
}

.item .content .head,
.item .content .section h5 {
	font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    margin: 0px;
}

.item .content .head + .text {
	font-size: 14px;
	padding-left: 5px;
	padding-bottom: 5px;
	white-space: pre-wrap;
}

.item .content .section > div {
	padding: 5px;
}

.item .content .section .block {
	margin: 0px;
	padding-left: 10px;
}

.item .content .section .dot {
	padding-left: 10px;
	padding-right: 10px;
}

.details {
	float: left;
	width: 500px;
	min-height: 600px;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	
	/*border: 1px solid #ebebeb;*/
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    
    overflow-y: auto;
    display: none;
}

.details .banner {
	background-color: #0065a2;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	height: 159px;
	color: white;
	font-size: 34px;
	padding-top: 25px;
	padding-left: 25px;
	margin-bottom: 20px;
	transition: background 0.3s;
	-o-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.details .banner.effect {
	background-color: #0088DD;
	transition: background 0.3s;
	-o-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.details .invite .banner {
	background-color: #c9302c;
}

.details .invite .banner.effect {
	background-color: #f93f3a;
}

.details .content {
	margin-bottom: 20px;
}

.details .busy {
	display: block;
	font-size: 25px;
	text-align: center;
	width: 100%;
	color: #0065a2;
	margin-top: 50px;
}

.details .invite .busy {
	color: #c9302c;
} 

.details .footer {
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.details .footer button {
	width: 100px;
}

.details .prop-label .input-group-addon {
	width: 30%;
}

.details .footer .status {
	color: #dd4b39;
	text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
	display: none;
	font-size: 17px;
}

.details .section .block {
	padding-left: 15px;
	padding-right: 15px;
}

.details .section h5 {
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 10px;
}

.details .block .block .section h5 {
	font-weight: normal;
}

.details .html-dropdown li a, .details .html-dropdown .html-text {
	white-space: pre-line;
}

.details .html-dropdown .dropdown-menu {
	max-height: 300px;
    overflow: auto;
}

.details .html-checkbox.lawfully {
	width: 100%;
	margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

.details .html-checkbox.lawfully .html-check {
	margin-left: 0px;
}

.details .html-checkbox.operational {
	margin-top: 20px;
}

.details .btn-group {
	margin-top: 10px;
	margin-bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.details .btn-group .btn {
	width: 100px;
}

.details .invite-url-info {
	width: 95%;
	margin-left: 5%;
	margin-top: 7px;
}

.details .invite-url-info b {
	font-weight: normal;
	font-size: 14px;
	font-family: monospace;
}

.clear {
	clear: both;
}

.tabs1 {
	position: relative;
	margin-top: 30px;
	height: 60px;
}

.tabs1 span {
	position: absolute;
	font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #0065a2;
	font-size: 24px;
	left: 360px;
	top: 20px;
}

img {
	position: absolute;
    left: 150px;
    top: 5px;
    z-index: 8;
    color: #000;
    width: 172px;
    height: 119px;
}

.snapin {
	position: relative;
	display: none;
	margin-left: 150px;
	width: 1100px;
	background-color: #cceaf2;
	color: #0096c0;
	margin-top: 10px;
    padding: 20px;
    margin-bottom: -25px;
}

.snapin .x {
	position: absolute;
	top: 3px;
	right: 10px;
	cursor: pointer;
	font-size: 22px;
}

.snapin a {
	text-decoration: underline;
}

.custom-popover .popover {
	display: block;
	margin-left: -145px;
    width: 130px;
    z-index: 100;
}

.custom-popover .popover-title span {
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
	font-size: 22px;
}

.custom-popover .popover-title span:hover {
	color: gray;
}

.details .html-dropdown .html-text, .details .dropdown-menu {
	font-size: 12px;
}

.details .dropdown-menu li {
	text-align: left;
}

.details .html-dropdown button {
	text-align: left;
}

.details .html-dropdown .caret {
	position: absolute;
	top: 45%;
	right: 8px;
}

.details .html-checkbox {
	min-width: 50%;
	display: inline-block;
	margin-bottom: 10px;
}

.details .html-checkbox .html-check {
	margin-right: 5px;
	margin-left: 10px;
}

.details .dot {
	margin: 10px;
}

.details .comment-office {
	width: 86%;
	margin: auto;
}
	
.details .comment-head {
	font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.details textarea {
	resize: vertical;
	overflow: hidden;
}

.details .intro, .details .intro2 {
	margin-top: 50%;
	font-size: 18px;
	color: #545454;
	text-align: center;
}

.details .intro2 {
	margin-top: 100px;
}

.details .btn-new-office {
	width: 130px;
	margin-left: calc(50% - 65px);
	margin-top: 20px;
}

.details .footer .btn {
	margin-right: 5px; 
}

.details .fields {
	margin-bottom: 20px;
}

.popup-content a {
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-bottom: 3px;
	cursor: pointer;
}

.popup-content div {
	font-size: 12px;
	padding-left: 2px;
}

.popup-content .id-search {
	margin-left: 10px;
	font-size: 13px;
	cursor: pointer;
	color: black;
}

.popup-content .id-search:hover {
	color: #286090;
}

.alert {
	position: absolute;
    width: 120px;
    left: -150px;
    z-index: 100;
}

.hazard-types {
	width: 86%;
	margin-left: 7%;
}

 .content .hazard-types .info {
	margin-bottom: 0px;
}

.content .info {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}

.content .center {
	width: 86%;
	margin: auto;
	margin-bottom: 15px;
}

.fields .html-checkbox {
	display: block;
	text-align: center;
	width: 86%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 28px;
}

.hazard-types .head {
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
}

.hazard-types .html-check {
	display: inline-block;	
	margin-left: 10px;
}

.hazard-types .prop-label {
	width: 100%;
	margin-left: 0%;
}

.hazard-types .html-textgroup .html-btn button {
	font-size: 10px;
}

.imprint, .help {
	margin-left: 150px;
    margin-bottom: 40px;
	width: 500px;
}

.banner-large {
	height: 359px;
}

.help {
	top: 159px;
    position: absolute;
    background-color: #fff;
	margin-top: 25px;
	padding: 50px;
	box-shadow: 0 2px 5px 0;
	width: 800px;
}

.help .intro-text {
	padding-top: 20px;
	padding-bottom: 25px;
}

.help table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 700px;
}

.help th {
    background-color: #f5f5f5;
}

.help .col-op {
	width: 30%;
}

.help .col-def {
    width: 30%;
}

.help .col-ex {
	width: 40%;
}

.help td, .help th {
	border: 1px solid #e0e0e0;
	padding: 6px 12px;
	vertical-align: top;
}

.help td:nth-child(1) {
	font-weight: bold;
}

.help tr:nth-child(even) {
	background-color: #fff;
}

.help tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.indent {
	display: block;
	padding-left: 15px;
}

.links {
	position: absolute;
	top: 0px;
	width: 1234px;
	z-index: 100;
}

.links span {
	position: absolute;
	top: 0px;
	right: 0px;
}

.block {
	margin: 20px;
}

.block .block {
	margin: 0px;
}

.survey {
	width: 86%;
	margin: auto;
}

.survey .prop-label {
	width: 100%;
	margin-left: -5px;
}

.survey > h5 {
	font-weight: bold;
}

.popover-content {
	padding-bottom: 0px;
}

.modal-dialog {
	margin-top: 250px;
}

.go-to-top {
	position: fixed;
	bottom: 10px;
	left: 15px;
	font-size: 30px;
	color: #337ab7;
	cursor: pointer;
}

.go-to-top:hover {
	color: #286090;	
}

.html-dropdown li.active {
	background-color: #0065a2;
}

@media (max-width: 1199px) {
	.frame {
		min-width: 0px;		
	}
	
	#map, .list, .details, .denied {
		width: calc(100% - 14px);
		margin-left: 7px;
		margin-right: 7px; 
	}
		
	.details {
		max-width: 500px;
		margin: 0 auto;
		float: none;
	}
	
	.search .search-box {
		width: calc(100% - 40px);
		margin-left: 0px;
	}
	
	.links {
		width: 100%;
	}
	
	.search a {
		left: calc(100% - 40px);
	}
	
	.btn-push {
		display: none;
	}
	
	.map-btn {
	    left: calc(100% - 55px);
	}
	
	.navigation {
		display: none;
	}
	
	.go-to-top {
		left: 0px;
		font-size: 25px;
	}
}

@media (max-width: 950px) {
	.tabs1 span {
		color: white;
		z-index: 1;
		font-size: 20px;
		left: 100px;
		top: 90px
	}
	
	.help {
		width: calc(100% - 100px);
		margin-left: 50px;
		padding: 15px;
	}
	
	.help table {
		width: 100%;
	}
	
	.refresh {
		left: 15px;
	}
	
	.notification {
		left: 50px;
	}
}

@media (max-width: 650px) {
	.tabs1 span {
		font-size: 18px;
		left: 20px;
		top: 92px;
	}
	
	.imprint, .help {
		width: calc(100% - 50px);
		max-width: 500px;
		margin-left: 50px;
	}
	
	.details .section .block {
		padding-left: 5px;
		padding-right: 5px;
		margin: 5px;
	}
}

@media (max-width: 500px) {
	.tabs1 span {
		display: none;
	}
	
	.help {
		width: calc(100% - 20px);		
		margin-left: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
		
	.help td, .help th {
		padding: 3px 4px;
	}
}

@media print {
	.html, .body {
		height: 100%;
	}
	
	.search, .tabs, .links, .map-btn, .go-to-top, .id-search, .footer, .details, .notification, .refresh {
		display: none !important;
	}
	
	.sec {
		border-bottom: none;
	}
}
