html, body {
	height: 100%;
}
        	
.fullsize {
	height: 100%;
	width: 100%;
}

.mainview {
	height: 90%;
	display: none;
}

.mainview .tabs {
	background-color: #fafafa;
}

.mainview .tabs-head {
	border-bottom: 1px solid #dddddd;
}
	
.mainview .nav-tabs {
	position: relative;
	border-bottom: 0px;
}

.mainview .form-horizontal {
	padding-top: 0.5em;
	width: 100%;
}

.headline .navbar {
	margin-bottom: 0px;
}

.headline .navbar-right img {
	width: 100%;
}

.logo {
	max-width: 50px;
	height: auto;
	outline: 1px solid black;
}

.nav_logo {
	padding-right: 0px;
}

.nav_title {
	padding-left: 0px;
}

.nav_buttons {
	padding-right: 2em;
}

.title {
	width: auto;
	height: 35px;
}
	
.right-col { 
	height: 100%;
	outline: 0.1em solid #acaaa7;
	width: 72%;
}

.left-col { 
	background-color: #fafafa;
	height: 100%;
	outline: 0.1em solid #acaaa7;
	float: left;
	width: 28%;
}

.big {
	font-size: 1.3em;
	font-weight: bold;
}

.medium {
	font-size: 1em;
}

.small {
	font-size: 0.8em;
}

.off {
	padding-left: 1em;
}
    
#sidebar, #saved, #custom, #timeline, #messages, #static {
	position: absolute;
	top: 3em;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#sidebar, #saved, #custom, #timeline-data, #messages, #static {
	overflow-y: auto;
}

#side {
	position: relative;
}

.left-label {
	width: 35%;
}

.right-label {
	width: 15%;
}
  
#inHead {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}
    	
#grpSignOut, #tabSaved, #tabCustom, #tabTimeline, #tabMessages, #tabStatic {
	display: none;
}
  	
#contextMenu {
	position: absolute;
	display: none;
}

#btnDeselect {
	float: right;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

#custom {
	padding: 0px;
	width: 100%;
}

.form-center .input-group.input-group-sm {
	padding: 0.5em;
	width: 80%;
	margin-left: 10%;
}
	
.form-center .form-group.input-group-sm {
	position: relative;
	padding: 0.5em;
	padding-top: 1em;
	width: 80%;
	margin-left: 10%;
	padding-bottom: 4em;
}

#btnClear {
	position: absolute;
	left: 0.5em;
	width: 40%;
}

#btnStart {
	position: absolute;
	right: 0.5em;
	width: 40%;
}

#labPreset {
	font-size: 1em;
	font-weight: bold;
	padding: 0.5em;
	width: 80%;
	margin-left: 10%;
}

.list-group-item {
	width: 80%;
	margin-left: 10%;
}

#contextMenu .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 5px;
}

.entry {
	border-bottom: 0.1em solid #acaaa7;
	display: none;
	padding-bottom: 0.3em;
}

.entry .marker {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry .row-marker  {
	padding-top: 0.5em;
}

.entry .beach {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.1em;
}

.entry .mag {
	font-weight: bold;
	text-align: center;
}

.entry .progress {
	float: left;
	height: 0.9em;
	margin-top: 0.2em;
	margin-bottom: 0em;
	width: 75%;
}

.entry .process {
	padding-top: 0.2em;
}

.entry .lnkEdit {
	padding-right: 0.2em;
	display: none;
}

.entry .lnkSend {
	padding-right: 0.4em;
	display: none;
}

.entry .lnkLearn {
	padding-right: 0.3em;
	display: none;
}

.entry .lnkDelete {
	margin-right: 0.7em;
	display: none;
}

.entry .lnkMsg {
	margin-right: 0.3em;
}

.entry .lnkStatic {
	margin-right: 0.2em;
	display: none;
}

.entry .lnkTimeline {
	margin-right: 0.4em;
	display: none;
}

.entry .chk_grid {
	vertical-align: top;
	display: none;
}

.entry .status, .entry .stat-read, .entry .stat-disp {
	color: #428bca; /* bootstrap ĺink blue */
}

#diaStatus, #propStatus {
	padding-top: 1em;
	color: red;
}

#drpStatus {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: red;
}

#SignInDialog .modal-body {
	padding-bottom: 0px;
}

.mail-label {
	width: 100%;
}

.mail-label .input-group-addon {
	width: 20%;
}

.mail-label, .mail-buttons {
	padding: 0.5em;
}

.mail-label .mail-right {
	width: 10%;
}

#mailEvent, #mailParent {
	width: 70%;
}

#ftpTo {
	width: 65%;
}

#ftpChkSpan {
	width: 5%;
}

.search-group {
	height: 4em;
	outline: 0.1em solid #acaaa7;
	padding-right: 1em;
	padding-left: 1em;
}

.search-group .input-group-sm {
	padding-top: 3%;
}

#timeline-data {
	position: absolute;
	top: 4em;
	bottom: 0px;
	border-top: 0.1em;
	padding-top: 0.1em;
}

#btnDelRoot {
	/*color: red;*/
}

.row-msgIcon {
	margin: 0px;
	height: 100%;
}

.msgIcon {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	font-size: 1.5em;
	height: 1.5em;
	margin-top: 0em;
}

.msgType {
	position: absolute;
	left: 0px;
	right: 0px;	
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin-top: 2em;
}

.entry {
	position: relative;
}

.propHeader {
	padding-bottom: 0px;
}

.prop-label {
	width: 100%;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.prop-label .input-group-addon {
	width: 20%;
}

#propGeneral .input-group-addon {
	width: 25%;
}

.prop-label .prop-right {
	width: 10%;
}

#inRootId, #inParentId, #inDate {
	width: 50%;
	background-color: #f8f8f8;
}

#btnDelRoot, #btnDelParent, #btnDelDate {
	width: 100%;
}

.no-pad {
	padding: 0px;
}

.mail-fade {
	height: 100%;
}

.mail-dialog {
	height: 90%;
	width: 55%;
}

.mail-content {
	height: 100%;
}

.mail-header {
	position: absolute;
	top: 0px;
	height: 5em;
	width: 100%;
}

.mail-body {
	position: absolute;
	top: 5em;
	bottom: 5em;
	overflow-y: auto;
	width: 100%;
}

.mail-footer {
	position: absolute;
	bottom: 0px;
	height: 5em;
	width: 100%;
}

.group {
	outline: 0.2em solid #eeeeee;
	margin-bottom: 1em;
	width: auto;
}

.grpHeader {
	padding-top: 0.2em;
	padding-left: 0.2em;
	overflow: auto;
	border-bottom: 0.2em solid #eeeeee;
	padding-bottom: 0.2em;
}

.grpHeadline {
	float: left;
	margin-left: 0.5em;
	font-size: 1.2em;
}

.lnkGroup {
	margin-right: 0.5em;
	float: right;
}

#mailTemplate {
	padding: 0.5em;
	display: none;
}

.inArea {
   resize: none;
   max-width: calc(100% - 1.6em);
   margin: 0.8em;
   padding: 0.8em;
   overflow: hidden;
   font-family: monospace;
}

.smsHeadline {
	padding-left: 0.7em;
	padding-top: 0.5em;
}

pre {	
	word-break: keep-all;
}

.pad-left {
	padding-left: 0.6em;
}

.pad-top {
	padding-top: 1.5em;
}

.pad-top-1 {
	padding-top: 1em;
}

.msg-col-left {
	width: auto;
}

.msg-col-right {
	width: auto;
}

#mailFrom, #mailEvent, #mailParent {
	background-color: #f8f8f8;	
}

#btnGrpText {
	width: 100%;
	padding: 1em 0.5em 0em 0.5em;
}

#btnGrpText .btn {
	width: 33.33%;
}

#splash {
	position: relative;
	height: 90%;
	background-image: linear-gradient(#00579b 0%, #428bca 100%);
	display: none;
}

#splash-content {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

#splash-video {
	position: absolute;
	left: 0%;
	width: 66%;
	height: 100%;
}

#splash-login {
	position: absolute;
	left: 68%;
	width: 32%;
	background-color: #f8f8f8;
	top: 0px;
	bottom: 0px;
	margin: auto;
    overflow-y: auto;
	box-shadow: 0px 0px 5px 5px black;
}

#youtube {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	box-shadow: 0px 0px 5px 5px black;
}

.splashForm {
	/* position: relative; */
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#splashIcon i {
	width: 100%;
	text-align: center;
	font-size: 500%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#splashSignIn {
	margin-top: 1em;
}

#splash-login h4 {
	text-align: center;
	padding-top: 0.5em;
}

#splash-login h3 {
	text-align: center;
}

#splashStatus {
	color: red;
	padding-bottom: 0.5em;
	text-align: center;
}

#splash-table {
	height: 100%;
	width: 100%;
	display: table;
}

#splash-lnkAcc {
	width: 100%;
	text-align: center;	
    vertical-align : bottom;
    height : 1px;
    display : table-row;
}

#lnkUser {
	display: none;
}