html, body {
	height: 100%;
}
        	
.fullsize {
	height: 100%;
	width: 100%;
}

.mainview {
	height: 90%;
}

.mainview .tabs {
	background-color: #fafafa;
}

.mainview .nav-tabs {
	position: relative;
}

.mainview .form-horizontal {
	padding-top: 0.5em;
	width: 100%;
}

.headline .navbar {
	margin-bottom: 0px;
}

.headline .navbar-right img {
	width: 100%;
	height: 100%;
}

.logo {
	max-width: 50px;
	height: auto;
	outline: 1px solid black;
	margin-left: 1em;
}

#btnDeselect {
	margin-left: 5em;
}

.title {
	width: auto;
	height: 35px;
	margin-left: 10em;
}

.nav.navbar-nav.navbar-left.navbar-form {
	padding-left: 0px;
}

.nav.navbar-nav.navbar-right.navbar-form {
	padding-right: 0px;
}
	
.headline .navbar-left .dropdown-menu {
	width: 20em;
}

.headline .navbar-left .dropdown-menu .form-group {
	padding: 1em;
	z-index:5;
}

.right-col { 
	height: 100%;
	outline: 0.1em solid #acaaa7;
	width: 72%;
}

.left-col { 
	background-color: #fafafa;
	height: 100%;
	outline: 0.1em solid #acaaa7;
	float: left;
	width: 28%;
}

.big {
	font-size: 1.3em;
	font-weight: bold;
}

.medium {
	font-size: 1em;
}

.small {
	font-size: 0.8em;
}

.off {
	padding-left: 1em;
}
    
#sidebar, #saved, #custom {
	position: absolute;
	top: 3em;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y: auto;
}

#side {
	position: relative;
}

.left-label {
	width: 35%;
}

.right-label {
	width: 15%;
}
  
#inHead {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}
    	
#btnSignOut, #tabSaved, #tabCustom {
	display: none;
}
  	
#contextMenu {
	position: absolute;
	display: none;
}

#tabOptions {
	position: absolute;
	right: 0em;
}

#custom {
	padding: 0px;
	width: 100%;
}

.input-group.input-group-sm {
	padding: 0.5em;
	width: 80%;
	margin-left: 10%;
}
	
.form-group.input-group-sm {
	position: relative;
	padding: 0.5em;
	padding-top: 1em;
	width: 80%;
	margin-left: 10%;
}

#btnClear {
	position: absolute;
	left: 0.5em;
	width: 40%;
}

#btnStart {
	position: absolute;
	right: 0.5em;
	width: 40%;
}

#contextMenu .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 5px;
}

.entry {
	border-bottom: 0.1em solid #acaaa7;
	display:none;
	padding-bottom: 0.3em;
}

.entry .marker {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry .row-marker {
	padding-top: 2.5em;
}

.entry .beach {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry .mag {
	font-weight: bold;
	text-align: center;
}

.entry .progress {
	float: left;
	height:0.9em;
	margin-top:0.2em;
	margin-bottom:0em;
	width: 80%;
}

.entry .progress-bar {
	width: 60%;
}

.entry .process {
	padding-top: 0.2em;
}

.entry .lnkEdit {
	margin-left: 0.7em;
}

.entry .lnkLearn {
	margin-left: 0.3em;
	display: none;
}

.entry .chk_grid {
	vertical-align: top;
	display: none;
}

.entry .status {
	color: #428bca; /* bootstrap ĺink blue */
}

#diaStatus {
	padding-top: 1em;
	color: red;
}

#drpStatus {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: red;
}

#SignInDialog .modal-body {
	padding-bottom: 0px;
}
