.sec-label {
  color: #c50000;
  font-weight: bold;
  font-size: 1.6em;
  margin: 1.5em;
}

.outside {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  overflow: hidden;
  margin-top: 2em;
}

.param {
  font-family: monospace;
  font-weight: bold;
  width: 20%;
}

.descr {
  width: 50%;
}

.status {
  width: 15%;
}

.text {
  font-family: monospace;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.6em;
  width: 85%;
  margin: auto;
}

.sub-sec {
  width: 90%;
  margin: auto;
}

a {
  color: #00579b;
}
